@mixin button-variant($color) {
    backgorund-color: $color;
};

@mixin alert-variant($color) {
    backgorund-color: $color;
};

@mixin progress-bar-variant($color) {
    backgorund-color: $color;
};

@mixin navbar-variant($color) {
    backgorund-color: $color;
};

@mixin icon-variant($color) {
    color: $color;
}